* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
}

.site-content {
    flex: 1;
}

header {
    min-height: 200px;
}

.logo {
    margin-left: 30px;
}

nav {
    width: 100%;
    background-color: #2288a8;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

nav a {
    color: #fff;
    display: block;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}

nav a:hover {
    background-color: #84cded;
    color: #2288a8;
}

nav .active {
    background-color: #84cded;
    color: #2288a8;
}

h2 {
    margin: 30px 0;
}

footer {
    min-height: 100px;
    margin-top: 20px;
    background-color: #736056;
    color: #fff;
    padding: 15px;
}

.footer-menu {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    outline: 1px solid #dad4da;
    margin-bottom: 20px;
}

.footer-menu a {
    display: block;
    margin: 15px 30px;
    color: #fff;
    text-decoration: none;
}

.footer-menu a:hover {
    text-decoration: underline;
}

.footer-bottom {
    display: flex;
    justify-content: flex-end;
}

/*catalog*/

.catalog {
    display: flex;
    flex-wrap: wrap;
}

.item {
    /*    margin-right: 30px;*/
    text-align: center;
    outline: 1px solid grey;
    margin: 0 0 30px 30px;
}

.item a {
    display: block;
}

.item img {
    width: 200px;
}

.item p {
    padding: 10px 0;
}

/*product*/

.item-content img {
    width: 400px;
    outline: 1px solid #736056;
}

.item-content img:hover {
    outline: none;
}

.photo-desc {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.short-desc {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

.buttons a {
    display: block;
    padding: 20px;
    background-color: #6d8836;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 5px 0px rgba(33, 33, 33, 0.35);
}

.buttons a:hover {
    background-color: #736056;
}

.buttons a:active {
    box-shadow: 0px 0px 5px 0px rgba(33, 33, 33, 0.35);

}

.item-content h4 {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

.item-content p {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.item-content p:first-letter {
    color: #6d8836;
    font-size: 24px;
    font-family: serif;
}

.item-content .characs {
    margin-left: 30px;
}

.item-content .characs li {
    font-size: 16px;
    color: #484343;
    line-height: 22px;
    list-style-image: url(../img/gas-26.png);
}

h4 {
    margin-bottom: 20px;
}

.tech {
    border: 1px solid #dad4da;
    text-align: center;
    border-collapse: collapse;
    margin: 20px 0;

}

.tech td {
    border: 1px solid #dad4da;
    padding: 10px;
}

.tech caption {
    padding: 10px;
    font-size: 18px;
}

.tech tr:first-child {
    height: 50px;
}

/*contact*/

form {
    width: 400px;
}

form label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

form textarea {
    margin-bottom: 10px;
}

form input {
    width: 200px;
    height: 20px;
    font-size: 14px;
    color: #6d8836;

}

form input[type="text"] {
    text-transform: capitalize;
}

form input:focus {
    background-color: #dad4da;
    color: #736056;

}

form button {
    padding: 5px;
}
